{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  OpenHub Django | Organizations
{% endblock %}

{% block add_css_files %}
  <link rel="stylesheet" href="{% static 'css/openhub_django.css' %}">
{% endblock %}

{% block add_js_files %}
  <script src="{% static 'js/openhub_django.js' %}"></script>
{% endblock %}

{% block main-content %}
  <div class="container main-content">
    <div class="input-group row">
      <div class="col s12 m6">
        <h1 class="about-page">Organizations</h1>
      </div>
      <div class="col s12 m6">
        <h1>
        <input type="text" id="search-list" class="form-control" aria-label="Default"
               aria-describedby="inputGroup-sizing-default" placeholder="Search list">
        </h1>
      </div>
    </div>
    {% if organization_list %}
    <div class="collection">
      {% for organization in organization_list %}
      <a href="{{ organization.get_absolute_url }}" class="collection-item" id="{{ organization.name }}">
        <img src="{{ organization.small_logo_url }}" alt="{{ organization.name }}"/>
        {{ organization.name }}
      </a>
      {% endfor %}{# for organization in organization_list #}
    </div>
    {% else %}
    <span>There are no organizations <i class="fa fa-frown-o" aria-hidden="true"></i></span>
    {% endif %}{# if organization_list #}
  </div>
{% endblock %}
